

<p>
  <strong>Nombre:</strong>
  <%= @artist.nombre %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @artist.sexo %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
